<!-- <ion-header>
  <ion-toolbar>
    <ion-title>apis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
</ion-content> -->


<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>API 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="covid">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>API 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imagenes">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>API 3</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>API 3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>API 4</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>API 5</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>API 6</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>


</ion-tabs>
