<!-- <ion-header>
  <ion-toolbar>
    <ion-title>api-juegos</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Api 1"></app-header>

<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-label>API: GAMES</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let post of arrayPosts">
    
     

        <ion-item>
          <ion-label>
            <h3>{{  post.title }}</h3>  
            <p> {{ post.short_description }} </p>
          </ion-label>

          <ion-label slot="end" class="ion-text-end text-small"> <img width="180" height="180" src="{{post.thumbnail}}" /> </ion-label>

      </ion-item>
      
    </ion-item>

  </ion-list>

  <!-- <div class="post" *ngFor="let post of arrayPosts">
    <h2>{{post.title}}</h2>
  </div> -->

</ion-content>
